{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;Database=DeskHubDb;Trusted_Connection=True;TrustServerCertificate=True;"
  },
  "Jwt": {
    "Key": "REEMPLAZA_ESTO_POR_UNA_CLAVE_SECRETA_LARGA_Y_UNICA",
    "Issuer": "DeskHubApi",
    "Audience": "DeskHubClient",
    "ExpiresInMinutes": 120
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
